body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 3vh 3vw;
}

li {
    list-style: none;
    margin: 2em 0;
}

.user-name, .commenter-name {
    font-weight: bold;
}

.post-content, .comment-content {
    margin-top: 0.5em;
}

span {
    padding-right: 1em;
}

.show-comments {
    color: #0cb4b4;
    cursor: pointer;
}
